<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedantix Scorer</title>
    <link     href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <header class="container text-center py-4">
      <div class="row">
        <div class="col justify-content-start" >
          <h3><a href="{{ url_for('index') }}" class="text-decoration-none">Pedantix Scorer</a></h3>
        </div>
        <div class="col">
          <h3>Accueil</h3>
        </div>
        <div class="col">
          <a href="{{ url_for('scorer') }}" class="btn btn-primary">Ajouter un score</a>
        </div>
        <div class="col">
          <div>
          {% if current_user.is_anonymous %}
              <a href="{{ url_for('login') }}">Se connecter</a>
          {% elif current_user.is_authenticated %}
              {{ current_user.username }}
            </div>
            <div>
              <a href="{{ url_for('logout') }}">Se déconnecter</a>
          {% endif %}
            </div>
        </div>
      </div>
  </header>
  <div class="container">
    <h1>Classement</h1>
    <div>
      <h1>Bonjour {{ current_user.username }}!</h1>
      {% for post in posts %}
      <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
      {% endfor %}
      <!--
      {% for x in classement %}
      <div>{{ x['name'] }} - <b>Score: {{ x['score'] }}</b></div>
      {% endfor %}
      -->
    </div>
  </div>
</body>
</html>
