<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedantix Scorer</title>
    <link     href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
    <body>
        <header class="container text-center py-4">
            <div class="row">
                <div class="col">
                    <h3><a href="{{ url_for('index') }}" class="text-decoration-none">Pedantix Scorer</a></h3>
                </div>
                <div class="col">
                    <h3>Scorer</h3>
                </div>
                <div class="col">
                    {% if current_user.is_authenticated %}
                        <h3>{{ current_user.username }}</h3>
                        <a href="{{ url_for('logout') }}">Se déconnecter</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="container text-center">
            <div class="container">
                <div class="row">
                    <div class="column">
                        <p>Le <b>score</b> correspond au nombre de coup que vous avez mis pour trouver le défi du jour</p>
                        <p>Il est indiqué par un encadré une fois le mot trouvé</p><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="pedantix-column">
                            <h3>Entrer votre score Pédantix</h3>
                            <p>Jour n°543 </p><br>
                            <form action="/scorer/pedantix"" method="post">
                                {{ pedantix_form.hidden_tag() }}
                                {{ pedantix_form.csrf_token }}
                                <p>
                                    {{ pedantix_form.score.label }}<br>
                                    <input type="number" name="pedantix_score" value="{{ pedantix_form.score.data or '' }}" size="16" id="pedantix_score">
                                </p>
                                <p>{{ pedantix_form.submit() }}</p>
                            </form>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col">
                        <div id="cemantix-column">
                            <h3>Entrer votre score Cémantix</h3>
                            <p>Jour n°615 </p><br>
                            <form action="/scorer/cemantix" method="post">
                                {{ cemantix_form.hidden_tag() }}
                                {{ cemantix_form.csrf_token }}
                                <p>
                                    {{ cemantix_form.score.label }}<br>
                                    <input type="number" name="cemantix_score" value="{{ cemantix_form.score.data or '' }}" size="16" id="cemantix_score">
                                </p>
                                <p>{{ cemantix_form.submit() }}</p>
                            </form>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>